/* General Page Styles */
.products-page {
  font-family: 'Arial', sans-serif;
  color: #fff;
  background-color: #2b2b2b;
  text-align: center;
  padding: 3rem 1rem;
}

/* Header Styles */
.products-header {
  margin-bottom: 2rem;
}

.products-header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.products-header p {
  font-size: 1.5rem;
  color: #ccc;
}

/* Grid Layout for Products */
.product-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

/* Product Card Styles */
.product-card {
  background-color: #444;
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.product-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.product-card p {
  font-size: 1rem;
  color: #ddd;
}

/*responsive style*/
@media (max-width: 768px) {
  .product-card {
    width: 100%;
  }
}